<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                <label for="1">Name</label>
                <input name="name" type="text" id="create">
                {{form.as_p}}
                {% csrf_token %}
                <button>Create</button>
            </form>
        </div>
    </main>

</body>
</html>
