<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list_detail.name}}</h1>
            <p>
                <a href="{% url "todo_list_update" todo_list_detail.id  %}">Edit</a>
                <a href="{%url "todo_list_delete" todo_list_detail.id %}">Delet</a>
            </p>
            <h2>Task</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                    <th></th>
                </thead>


                <tbody>
                    {%for todo in todo_list_detail.items.all%}
                    <tr>
                        <td>{{todo.task}}</td>
                        <td>{{todo.due_date|date:"M j Y"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </main>
</body>
</html>
