<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <div>
        <h1>Create a new item</h1>
        <form method="post">

            {% comment %} <label for="task">Task</label>
            <input id="task" name="task" type="text">

            <label for="due_date">Due Date</label>
            <input id="due_date" name="due_date" type="text">

            <label for="is_complited">is_complited</label>
            <input id="is_complited" name="is_complited" type="checkbox">

            <label for="list">List</label>
            <input id="list" name="list" multiple> {% endcomment %}


            {% csrf_token %}
            {{todo_list_detail.as_p}}

            <button> Create </button>
        </form>
    </div>
</main>
</body>
</html>
